/* Reset some default styles */
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
* {
  font-family: "Prompt", sans-serif;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

